* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

.top-section {
    height: calc(100vh - 100px);
    display: flex;
}

.bottom-section {
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #282828;
    color: white;
    column-gap: 20px;
}

.sidebar {
    width: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    width: calc(100vw - 50px);
    overflow-y: auto;
    color: white;
    background-color: #141922;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: end;
    background-color: #080b12;
}

header button {
    padding: 15px 30px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 12px;
    font-weight: bold;
}

.sidebar i {
    filter: invert(100%);
    font-size: 25px;
    margin: 10px;
}

.sidebar .fa-arrow-down {
    border: 2px solid black;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px 4px;
}

.col-30 {
    width: 30%;
    height: 100%;
}

.col-40 {
    width: 40%;
    height: 100%;
}

.song-info, .volume-control, .media-control {
    display: flex;
    align-items: center;
    height: 100%;
}

.song-info img[alt="sinister"] {
    width: 40px;
}

.song-info .icon {
    display: flex;
    flex-direction: column;
}

.song-info p, .song-info ul {
    margin: 0px 10px;
}

.song-info ul {
    list-style-type: none;
}

.song-info i {
    margin: 2px 0px;
    color: lightgray;
}

.song-info li {
    font-size: 8px;
    color: lightgray;
}

.song-info p {
    font-size: 12px;
}

.volume-secondary {
    background-color: lightslategray;
    border-radius: 20px;
    width: 100%;
    height: 3px;
    margin: 0px 5px;
}

.volume-primary {
    background-color: white;
    width: 40%;
    height: 2px;
    border-radius: 20px;
}

.volume-control i {
    font-size: 10px;
    margin: 0px 2px;
}

.media-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.media-button, .media-duration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.media-control * {
    font-size: 10px;
}

.media-button i {
    font-size: 20px;
}


/* *{border: 1px dashed red;} */

/* Small [sm] */
@media screen and (min-width: 576px) {
    .sidebar {
        width: 100px;
    }
    .main-content {
        width: calc(100vw - 100px);
    }
}


/* Medium [md] */
@media screen and (min-width: 768px) {
    
}


/* Large [lg] */
@media screen and (min-width: 992px) {
    
}