/* -------------------------
        RESET.CSS
---------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* -------------------------
        BASE.CSS
---------------------------*/

body {
    font-family: "Roboto", Helvetica, sans-serif;
}




/* -------------------------
        LAYOUT.CSS
---------------------------*/

.top-section {
    display: flex;
    height: calc(100vh - 100px);
}

.bottom-section {
    display: flex;
    flex-direction: row;
    height: 100px;
    color: white;
    column-gap: 20px;
    z-index: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    background-color: black;
    padding: 10px;
    height: calc(100vh - 100px);
    z-index: -1;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 20px;
}




/* -------------------------
        COMPONENTS.CSS
---------------------------*/

/* -- SIDEBAR -- */
.sidebar .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar i {
    font-size: 25px;
    margin: 10px 0px;
}

.sidebar .fa-arrow-down {
    font-size: 10px;
    padding: 3px 4px;
    border: 2px solid black;
    border-radius: 50%;
}

.logo h2 {
    display: none;
    margin-left: 10px;
    font-size: 30px;
    color: white;
}

.home p {
    display: none;
    color: lightgrey;
    margin-left: 10px;
    font-weight: bold;
}

.menu:first-of-type p {
    color: white;
}

.menu, .create {
    display: flex;
    align-items: center;
}

.playlist > h2 {
    display: none;
    color: white;
    font-size: 15px;
}

.playlist p {
    color: gray;
    font-weight: bold;
    margin-left: 10px;
}

.create {
    display: none;
    margin-top: 20px;
}

.playlist ul {
    display: none;
    list-style-type: none;
}

.playlist li {
    font-size: 15px;
    color: gray;
    margin: 20px 0px;
}

.scroll-list {
    overflow-x: auto;
}

.install p {
    display: none;
    font-size: 12px;
    margin-left: 10px;
    color: gray;
}

.user h4 {
    display: none;
    margin-left: 10px;
    color: gray;
    font-weight: bold;
}

.info hr {
    display: none;
    width: 90%;
    margin: 2px 0px 5px 0px;
    border: 1px solid gray;
}


/* -- HEADER -- */
header button {
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: bold;
}


/* -- MAIN CONTENT -- */
.main-content {
    width: calc(100vw - 50px);
    overflow-y: auto;
    color: white;
}

.recently-played, .create-for-you, .popular-artist {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10px;
}

.section-title > h2 {
    font-size: 25px;
}

.section-title > p {
    font-size: 10px;
    color: gray;
}

/* Nav List */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 0px 10px;
}

.nav-list ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
    justify-content: center;
}

.nav-list a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    position: relative;
}

.nav-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green-line {
    height: 3px;
    width: 40%;
    background-color: greenyellow;
    border-radius: 20px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Music Card */
.section-title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

.music-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.music-image img {
    width: 100%;
}

.music-image {
    position: relative;
}

.music-image i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white;
    transition: display 0.3s;
}

.music-description {
    text-align: center;
}

.music-description h4 {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px;
}

.music-description p {
    font-size: 14px;
    color: gray;
}


/* -- BOTTOM SECTION -- */
.song-info, .media-control, .volume-control {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Song Info */
.song-info img[alt="sinister"] {
    width: 40px;
}

.song-info .icon {
    display: flex;
    flex-direction: column;
}

.song-info p, .song-info ul {
    margin: 0px 10px;
}
.song-info p {
    font-size: 12px;
}

.song-info ul {
    list-style-type: none;
}

.song-info li {
    font-size: 8px;
    color: gray;
}

.song-info i {
    margin: 2px 0px;
    color: gray;
}

/* Media Control */
.media-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.volume-primary {
    background-color: white;
    width: 40%;
    height: 2px;
    border-radius: 20px;
    position: relative;
}

.volume-secondary {
    background-color: lightslategray;
    border-radius: 20px;
    width: 100%;
    height: 3px;
    margin: 0px 5px;
}

.volume-control i {
    font-size: 10px;
    margin: 0px 2px;
}

.media-button, .media-duration {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.media-button i {
    font-size: 20px;
}

.media-duration p {
    font-size: 10px;
}




/* -------------------------
        UTILITIES.CSS
---------------------------*/

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: calc(50% - 10px);
}

.col-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.invert-50 {
    filter: invert(50%);
}

.invert-100 {
    filter: invert(50%);
}

.circle {
    border-radius: 50%;
}

.square {
    width: 40px;
    height: 40px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* -------------------------
        THEMES.CSS
---------------------------*/

.white {
    color: white;
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: gray;
}

.bg-rich-black {
    background-color: #080b12;
}

.bg-eerie-black {
    background-color: #141922;
}

.bg-charcoal {
    background-color: #282828;
}

.bg-green-yellow {
    background-color: greenyellow;
}


/* -------------------------
        STATES.CSS
---------------------------*/

/* Header */
header button:hover, .fa-circle-play:hover {
    transform: scale(1.05);
}

/* Sidebar */
.sidebar i:hover:not(:nth-child(-n+2)) {
    filter: invert(100%);
}

/* Main Content */
.music-image:hover i,
.music-image i:hover {
    display: flex;
}
/* NON FUNZIONA, QUANDO PASSO 
SOPRA L'ICONA MI CREA UN LOOP */


.music-image:hover img {
    opacity: 0.5;
}

/* Bottom Section */
.song-info i:hover {
    color: white;
}

.song-info li:hover {
    text-decoration: underline;
}

.nav-list a:hover {
    color: white;
}

.volume-primary:hover, .volume-secondary:hover .volume-primary {
    background-color: greenyellow;
}

.volume-primary:hover .dot, .volume-secondary:hover .dot {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transform: translate(50%, -50%);
}




/* -------------------------
        RESPONSIVE.CSS
---------------------------*/

/* Small Screen [sm] */
@media screen and (min-width: 576px) {
    .sidebar {
        width: 200px;
    }
    .main-content {
        width: calc(100vw - 200px);
    }
    .sidebar .content {
        align-items: baseline;
    }
    .logo i {
        font-size: 50px;
    }
    .sidebar .logo {
        flex-direction: row;
        align-items: center;
    }
    .home {
        margin: 30px 0px;
    }
    .logo h2, .playlist > h2, .home p, .create,
    .create, .install p, .user h4, .info hr {
        display: flex;
    }
    .playlist ul {
        display: block;
    }
}

/* Medium Screen [md] */
@media screen and (min-width: 768px) {
    .col-md-25 {
        width: 25%;
    }
    .nav-list a {
        font-size: 16px;
    }
    
    .nav-list ul {
        column-gap: 50px;
        row-gap: 40px;
    }
}

/* Large Screen [lg] */
@media screen and (min-width: 992px) {
    .col-lg-16 {
        width: calc(100% / 6);
    }
}