* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
}


.top-section {
    height: calc(100vh - 100px);
    display: flex;
}

.bottom-section {
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #282828;
    color: white;
    column-gap: 20px;
}

.sidebar {
    width: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    width: calc(100vw - 50px);
    overflow-y: auto;
    color: white;
    background-color: #141922;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: end;
    background-color: #080b12;
}

header button {
    padding: 15px 30px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 12px;
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
}

.sidebar i {
    filter: invert(100%);
    font-size: 25px;
    margin: 10px;
}

.sidebar .fa-arrow-down {
    border: 2px solid black;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px 4px;
}

.col-30 {
    width: 30%;
    height: 100%;
}

.col-40 {
    width: 40%;
    height: 100%;
}

.song-info, .volume-control, .media-control {
    display: flex;
    align-items: center;
    height: 100%;
}

.song-info img[alt="sinister"] {
    width: 40px;
}

.song-info .icon {
    display: flex;
    flex-direction: column;
}

.song-info p, .song-info ul {
    margin: 0px 10px;
}

.song-info ul {
    list-style-type: none;
}

.song-info i {
    margin: 2px 0px;
    color: lightgray;
}

.song-info li {
    font-size: 8px;
    color: lightgray;
}

.song-info p {
    font-size: 12px;
}

.volume-secondary {
    background-color: lightslategray;
    border-radius: 20px;
    width: 100%;
    height: 3px;
    margin: 0px 5px;
}

.volume-primary {
    background-color: white;
    width: 40%;
    height: 2px;
    border-radius: 20px;
}

.volume-control i {
    font-size: 10px;
    margin: 0px 2px;
}

.media-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.media-button, .media-duration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.media-control * {
    font-size: 10px;
}

.media-button i {
    font-size: 20px;
}

.nav-list ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.nav-list a {
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    position: relative;
}

.nav-list a:hover {
    color: white;
}

.nav-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.green-line {
    height: 3px;
    width: 50%;
    background-color: greenyellow;
    border-radius: 20px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.main-content h2 {
    font-size: 30px;
    margin: 20px 0px;
}

.recently-played {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

.music-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-50 {
    width: calc(50% - 20px);
}

.music-image img {
    width: 100%;
}

.music-image {
    position: relative;
}

.music-image i{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: white;
}

.music-image:hover .i {
    display: flex;
}

.music-description {
    text-align: center;
}

.music-description h4 {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px;
}

.music-description p {
    font-size: 14px;
    color: gray;
}









/* *{border: 1px dashed red;} */

/* Small [sm] */
@media screen and (min-width: 576px) {
    .sidebar {
        width: 100px;
    }
    .main-content {
        width: calc(100vw - 100px);
    }
}


/* Medium [md] */
@media screen and (min-width: 768px) {
    
}


/* Large [lg] */
@media screen and (min-width: 992px) {
    
}